<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Page</title>
</head>
<body>
    <h1>Registration Page!</h1>

    <br>
    <br>
    <form action="{{url_for('register_student')}}" method = "post" style = "display: inline-block; margin: 10px;">
        <button type = "submit">Register as Student</button>
    </form>

    <form action="{{url_for('register_company')}}" method = "post" style = "display: inline-block; margin: 10px;">
        <button type = "submit">Register as Company</button>
    </form>

    <br>
    <br>
    <br>
    <br>
    
    <a href="{{url_for('login')}}">Already have an account? Lohin here!</a>

</body>
</html>