<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registeration Page</title>   
</head>
<body>
    <h1>Registeration Page.</h1>

    <a href="{{url_for('login')}}">
        Already have an account? Login!
    </a>
    <br>
    <br>
    <a href="{{url_for('registerasst')}}">
        <button>Student</button>
    </a>

    <br>
    <br>

    <a href="{{url_for('registerascp')}}">
        <button>Company</button>
    </a>

</body>
</html>