<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Company</title>
</head>
<body>
    <h1>Company Registration Page!</h1>
    {{form.hidden_tag()}}
    {{form.cp_id}}
    {{form.cp_username}}
    {{form.cp_password}}
    {{form.cp_name}}
    {{form.cp_desc}}
    {{form.cp_industry}}
    {{form.cp_website}}
    {{form.cp_email}}
    {{form.cp_conatct}}
    {{form.cp_primary_contact}}
    {{form.cp_size}}
    {{form.cp_campus}}
    {{form.cp_logo}}
    {{form.cp_submit}}
</body>
</html>